@import "https://cdn.jsdelivr.net/npm/bulma@1.0.4/css/bulma.min.css";

body {
  background-color: white;
}
#app {
  display: grid;
  grid-template:
    "header header" 1fr
    "nav main" auto / 200px auto;
  header {
    grid-area: header;
  }
  nav {
    grid-area: nav;
  }
  main {
    grid-area: main;
  }
}
