name: 'Run CI jobs'

on:
  push:
    branches:
      - '**'
    tags-ignore:
      - '**'
  pull_request:
  workflow_dispatch:
  schedule:
    - cron: '0 9 * * 5' # 18:00 on Friday Asia/Tokyo

env:
  TASK_X_REMOTE_TASKFILES: 1

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: aquaproj/aqua-installer@11dd79b4e498d471a9385aa9fb7f62bb5f52a73c # v4.0.4
        with:
          aqua_version: v2.56.1
      - name: 'Configure dependencies'
        run: |
          task --yes setup-dev
      - name: 'Run linters'
        run: |
          lefthook run pre-commit --all-files
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: aquaproj/aqua-installer@11dd79b4e498d471a9385aa9fb7f62bb5f52a73c # v4.0.4
        with:
          aqua_version: v2.56.1
      - name: 'Configure dependencies'
        run: |
          task --yes setup-dev
      - name: 'Run linters'
        run: |
          uv run pytest tests
  e2e-test:
    runs-on: ubuntu-latest
    steps:
      - name: Install Libraries
        run: |
          sudo apt-get update
          sudo apt-get install -y -f \
          libgtk-3-dev \
          libwebkit2gtk-4.1-0 \
          libayatana-appindicator3-1 \
          xvfb
      - uses: actions/checkout@v6
      - uses: aquaproj/aqua-installer@11dd79b4e498d471a9385aa9fb7f62bb5f52a73c # v4.0.4
        with:
          aqua_version: v2.56.1
      - name: 'Configure dependencies'
        run: |
          task --yes setup-dev
      - name: 'Run tests'
        run: |
          xvfb-run uv run pytest e2e
  build-test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: aquaproj/aqua-installer@11dd79b4e498d471a9385aa9fb7f62bb5f52a73c # v4.0.4
        with:
          aqua_version: v2.56.1
      - name: 'Try building as package'
        run: |
          uv build
          ls -l dist
